{#
/**
 * @file
 * Theme override for a single field in a view.
 *
 * Available variables:
 * - view: The view that the field belongs to.
 * - field: The field handler that can process the input.
 * - row: The raw result of the database query that generated this field.
 * - output: The processed output that will normally be used.
 *
 * When fetching output from the row this construct should be used:
 * data = row[field.field_alias]
 *
 * The above will guarantee that you'll always get the correct data, regardless
 * of any changes in the aliasing that might happen if the view is modified.
 *
 * @see template_preprocess_views_view_field()
 */
#}

{% set created = view.field.created_1.original_value|date('Y-m-d') %}
{% set launch = '2017-07-15'|date('Y-m-d') %}

{% if created > launch %}

	<!-- AddThis Button BEGIN -->
	<div class="addthis_toolbox addthis_default_style addthis_32x32_style" addthis:url="http://www.consortiuminfo.org{{ view.field.path_3.original_value }}" addthis:title="{{ view.field.title.original_value }}">
	    <a class="addthis_button_preferred_1"></a>
	    <a class="addthis_button_preferred_2"></a>
	    <a class="addthis_button_preferred_3"></a>
	    <a class="addthis_button_preferred_4"></a>
	    <a class="addthis_button_compact"></a>
	    <a class="addthis_counter addthis_bubble_style"></a>
	</div>
	<!-- AddThis Button END -->
    <!-- Facebook Like -->
    {% set fbpath = view.field.path_3.original_value %}
    {% set fbpath = fbpath|replace({'/': '%2F'}) %}

	<div style="margin: 8px 0; overflow: visible;">
	   <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.consortiuminfo.org{{ fbpath }}&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:35px;" allowTransparency="true"></iframe>
	</div>

{% else %}

	<!-- AddThis Button BEGIN -->
	<div class="addthis_toolbox addthis_default_style addthis_32x32_style" addthis:url="http://www.consortiuminfo.org/standardsblog/article.php?story={{ view.field.field_geeklog_sid.original_value }}" addthis:title="{{ view.field.title_1.original_value }}">
	    <a class="addthis_button_preferred_1"></a>
	    <a class="addthis_button_preferred_2"></a>
	    <a class="addthis_button_preferred_3"></a>
	    <a class="addthis_button_preferred_4"></a>
	    <a class="addthis_button_compact"></a>
	    <a class="addthis_counter addthis_bubble_style"></a>
	</div>
	<!-- AddThis Button END -->
    <!-- Facebook Like -->
	<div style="margin: 8px 0; overflow: visible;">
	   <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.consortiuminfo.org%2Fstandardsblog%2Farticle.php%3Fstory%3D{{ view.field.field_geeklog_sid.original_value }}&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:35px;" allowTransparency="true"></iframe>
	</div>

{% endif %}
